 .subscribe{
    background-color: rgb(201, 0, 0);
    color:white;
    border:none;
   padding-top: 10px;
   padding-bottom: 10px;
   padding-left:16px;
   padding-right:16px;
    border-radius: 2px;
    cursor: pointer;
    margin-right:8px ;
    transition: opacity 0.15s;

    vertical-align: top;
  }   
  .subscribe:hover{
    opacity:0.8;
  }
  .subscribe:active{
    opacity: 0.4;
  }
  .join{
    background-color: white;
    border-color: rgb(41, 102, 216);
    border-style: solid;
    border-width: 1px;
    color: rgb(41, 102, 216);
    padding-top: 9px;
   padding-bottom: 9px;
   padding-left:16px;
   padding-right:16px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    transition: background-color 0.15s,color 0.15s;
    vertical-align: top;
  }
  .join:hover{
    background-color:rgb(41, 102, 216) ;
    color:white;
  }
  .join:active{
    opacity: 0.7;
  }
   .tweet{
    background-color: rgb(2, 158, 255);
    color: white;
    border: none;
   padding-top: 9px;
   padding-bottom: 9px;
   padding-left:16px;
   padding-right:16px;
    border-radius: 18px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition: box-shadow 0.15s;
    vertical-align: top;
   }

   .tweet:hover{
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
   }
   .request{
    background-color: black;
    color: white;
    height: 36px;
    width: 105px;
    border: none;
    cursor: pointer;
    margin-right: 8px;
    transition: opacity 0.15s;
   }
   .request:hover{
     opacity:0.8;
   }
   .request:active{
     opacity:0.4;
   }
   .cart{
    background-color: rgb(255, 216, 20);
    color: rgb(27, 27, 27);
    height: 32px;
    width: 150px;
    font-size: 16px;
    border-radius: 16px;
    border: none;
    cursor: pointer;
   }
   .signup{
    background-color: rgb(46, 164, 79);
    color: white;
    height: 36px;
    width: 98px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 8px;
   }
   .get{
    background-color: rgb(121, 82, 179);
    color: white;
    height: 38px;
    width:120px ;
    border: none;
    border-radius: 3px;
    font-size: 15px;
    cursor: pointer;
    transition: opacity 0.15s;
   }
    .get:hover{
     opacity:0.8;
   }
   .get:active{
     opacity:0.4;
   }
   .download{
    background-color: white;
    color: rgb(109, 109, 109);
    height: 38px;
    width: 120px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 8px;
    margin-right: 8px;
     transition: background-color 0.15s,color 0.15s;
   }

    .download:hover{
    background-color:rgb(63, 65, 68) ;
    color:white;
  }
  .download:active{
    opacity: 0.7;}
   .apply{
    background-color: rgb(10, 102, 194);
    color: white;
    height: 44px;
    width: 280px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 22px;
    margin-right: 8px;
   }
   .save{
    background-color: white;
    color: blue;
    height: 36px;
    width: 74px;
    border-color: blue;
    border-width: 1px;
    border-radius: 18px;
    transition: background-color 0.15s,color 0.15s;
   }
   .save:hover{
    background-color:rgb(41, 102, 216) ;
    color:white;
  }
  .save:active{
    opacity: 0.7;}
   .buy{
    background-color: rgb(248, 177, 44);
    color: black;
    height: 36px;
    width:120px ;
    border: none;
    border-radius: 18px;
    font-size: 15px;
    margin-left: 20px;
    cursor: pointer;
    transition:all 0.3s ease;
   }
   .buy:hover{
    transform:scale(1.3,1.2);
   }
   .price{
    color: green;
   }
   .free{
    color: rgb(22, 22, 61);
   }
   .amazon:hover{
     color: red;
   }
